html, body, #container, #main {
	margin: 0;
	padding: 0;
	height: 100%;
	background: white;
	
	font-family:  "Lucida Grande", Lucida, Helvetica, Arial, sans-serif;
	color: black;
}

html {
	overflow-y: scroll;
}

body {
	/*background-image: url('test-fleurs.png');
	background-position:center top;
	background-repeat: repeat-y;
	background-attachment: fixed;*/
	
	background-image: url('barre.png');
	background-repeat: repeat;
}

#container {
	width: 1000px;
	height: auto;
	margin: 0 auto;
	min-height: 100%;
	box-shadow: 0px 0px 30px grey;
}

/*======================================================
========================SIDEBAR=========================
======================================================*/

#sidebar {
	float: left;
	width: 208px;
	background: white;
	height: 100%;
	margin: 0;
	padding: 0;
}

#sidebar-logo {
	height: 62px;
	background-color: white;
	padding: 7px;
}

#sidebar-menu-title {
	height: 18px;
}

#name {
	float:left;
}

#new-message-counter {
	float:right;
}

#sidebar-menu {
	padding: 5px;
	border: 1px solid #60BF60;
	border-radius: 5px 5px;
	margin: 5px;
	background: #D4FFD4;
}

#sidebar-menu p {
	font-style:italic;
	font-size:1.1em;
	margin:0;
}

#sidebar-chat {
	padding: 5px;
	height: 450px;
	overflow-y: scroll;
	border: 1px solid #60BF60;
	border-radius: 5px 5px;
	margin: 5px;
	background: #D4FFD4;
}

#sidebar-chat p {
	text-align: justify;
	padding: 0 1em;
}

#sidebar-chat-response {
	width: 150px;
	height: 18px;
	border: 1px solid #60BF60;
	margin: 5px;
	padding: 5px;
	border-radius: 5px 5px;
	float: left;
	background: #D4FFD4;
}

#sidebar-chat-response	p{
	padding: 1em;
	margin: 0;
}

#sidebar-chat-button {
	width: 18px;
	height: 18px;
	border: 1px solid #60BF60;
	margin: 5px 5px 5px 0px;
	padding: 5px;
	border-radius: 5px 5px;
	float: right;
	background: #D4FFD4;
}

#sidebar h1 {
  font-family: Inconsolata, Monaco, Courier, mono;
  color: #FFF;
  margin: 0;
  padding: 5px;
}

/*======================================================
========================MAIN============================
======================================================*/

#main {
	width: 775px;
	float: right;
	margin: 5px 5px 5px 0px;
	padding: 5px;
	height: 600px;
}

.category-title {
  margin-bottom: 5px;
  margin-top: 30px;
}

.thread, .categories {
  width: 700px;
}

.post {
  display: block;
  list-style-type: none;
  width: 700px;
}

.new-post {
  height: 100%;
}

.post:nth-child(odd) {
  background-color: #E6FFE6;
}

.post:nth-child(even) {
  background-color: #F0FFF0;
}

.post h1 {
  font-size: 36px;
  margin: 0 0 18px 0;
  color: #333;
}

.post h2 {
  font-size: 30px;
  margin: 0 0 10px 0;
  color: #555;
}

.post h3 {
  font-size: 24px;
  margin: 0 0 6px 0;
  color: #777;
}

.post h4 {
  font-size: 18px;
  margin: 0 0 6px 0;
  color: #555;
  font-style: italic;
}

.post h5 {
  font-size: 16px;
  margin: 0 0 6px 0;
  color: #777;
  font-style: italic;
}

.slogan {
  font-size: 60%;
}

.nickname {
  display: block;
  margin-top: 2px;
}

.post-date {
  color: #444;
  font-size: 80%;
  float: right;
}

.post-header {
  float: left;
  margin-top: 0;
  width: 150px;
  font-size: 12pt;
  display: inline-block;
}

.post-header p {
  margin: 0;
  padding: 0;
  margin-top: 2px;
}

.post-body {
  float: right;
  width: 550px;
  display: inline-block;
}

.post-content, .post-title, .post-preview {
  background-color: transparent;
  display: block;
  font-size: 14px;
  border: none;
}

.post-header {
  text-align: center;
}

.post-content, .post-preview {
  padding: 5px;
  width: 540px;
  min-height: 130px;
  height: 100%;
}

em {
  font-style: italic !important;
}

strong {
  font-weight: bold !important;
}

.post-title {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 24px;
  width: 690px;
  padding: 0;
}

.new-post input:focus, .new-post textarea:focus {
  border: none;
}

button.submit-post {
  font-size: 100% !important;
  float: right;
}

.new-post input {
  border: none;
  border-bottom: 1px solid black;
}

.avatar {
  width: 128px;
  height: 128px;
}

div.clear {
  clear: both;
}

.profile-table {
  border: 1px solid grey;
}

.profile-table tr td, .profile-table tr th {
  padding: 5px; 
  border: 1px solid grey;
}

.profile-table tr th {
  font-weight: bold;
  text-align: center;
}