html, body, #container {
  min-height: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  text-decoration: underline;
}

h2, h2 a {
  font-weight: bold;
  color: black;
}

body {
  font-family: "Lucida Grande", Lucida, Helvetica, Arial, sans-serif;
  background: url("/stylesheets/fond.png");
  color: #333;
  margin: 0;
  padding: 0;
}

#logo {
  margin-top: 10px;
  margin-bottom: 10px;
}

#container {
  width: 900px;
  padding-left: 0;
  margin-left: auto;
  margin-right: auto;
  background: rgba(252, 252, 255, 0.91);
  border-left:  3px solid #555;
  border-right: 3px solid #555;
}

#sidebar {
  float: left;
  width: 200px;
  height: 700px;
  margin: 0;
  padding: 0;
}

#sidebar h1 {
  font-family: Inconsolata, Monaco, Courier, mono;
  color: #FFF;
  margin: 0;
  padding: 5px;
}

.category-title {
  margin-bottom: 5px;
  margin-top: 30px;
}

#sidebar .user-info {
  display: none;
  width: 90px;
  padding: 2px;
  background: #73E773;
  border: 3px solid #555;
  border-left: none;
  border-radius: 0 8px 8px 0;
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 15px;
}

#main {
  float: right;
  width: 670px;
  margin-left: 30px;
  height: 100%;
  margin-top: 10px;
}

.thread, .categories {
  width: 600px;
}

.post {
  display: block;
  list-style-type: none;
  width: 600px;
  margin-bottom: 5px;
  border: 1px solid #888;
  border-radius: 5px 5px;
}

.new-post {
  height: 100%;
}

.post:nth-child(odd) {
  background-color: #CCFFCC;
}

.post:nth-child(even) {
  background-color: #E0FFE0;
}

.thread-title {
  margin-bottom: 10px;
}

.post h1 {
  font-size: 36px;
  margin: 0 0 18px 0;
  color: #333;
}

.post h2 {
  font-size: 30px;
  margin: 0 0 10px 0;
  color: #555;
}

.post h3 {
  font-size: 24px;
  margin: 0 0 6px 0;
  color: #777;
}

.post h4 {
  font-size: 18px;
  margin: 0 0 6px 0;
  color: #555;
  font-style: italic;
}

.post h5 {
  font-size: 16px;
  margin: 0 0 6px 0;
  color: #777;
  font-style: italic;
}

.slogan {
  font-size: 60%;
  padding-top: 3px;
  padding-bottom: 12px;
}

.post-date {
  padding: 5px;
  color: #444;
  font-size: 70%;
  float: right;
}

.nickname {
  display: block;
  margin-top: 2px;
}

.post-header {
  float: left;
  margin-top: 0;
  padding-left: 9px;
  width: 90px;
  font-size: 12pt;
  display: inline-block;
}

.post-header p {
  margin: 0;
  padding: 0;
  margin-top: 2px;
}

.post-body {
  float: right;
  width: 500px;
  display: inline-block;
}

.post-content, .post-title, .post-preview {
  background-color: transparent;
  display: block;
  font-size: 14px;
  border: none;
}

.post-content, .post-preview {
  padding: 5px;
  width: 490px;
  min-height: 60px;
  height: 100%;
  border-top: 1px solid black;
  overflow-x: auto;
}

.post-content img {
  max-width: 490px;
}

em {
  font-style: italic !important;
}

strong {
  font-weight: bold !important;
}

.post-title {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 24px;
  width: 590px;
  padding: 0;
}

.new-post input:focus, .new-post textarea:focus {
  border: none;
}

button.submit-post {
  font-size: 100% !important;
  margin-top: -30px;
  float: right;
}

.new-post input {
  border: none;
  border-bottom: 1px solid black;
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 5px 5px;
}

div.clear {
  clear: both;
}

.profile-table {
  border: 1px solid grey;
}

.profile-table tr td, .profile-table tr th {
  padding: 5px; 
  border: 1px solid grey;
}

.profile-table tr th {
  font-weight: bold;
  text-align: center;
}
