<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>Agora</title>
<link rel="icon" type="image/png" href="/stylesheets/favicon.png" />
<link rel="stylesheet" href="stylesheets/agora.css"/>
</head>
<body>
<div id="container">

  <div id="sidebar">
    <div id="sidebar-logo">
      <center><a href="/#/"><img src="stylesheets/logo.svg" width="194" height="58" alt="NMAG"/></a></center>
    </div>

    <script>
      function toggleBlock(elementId) {
        var element = document.getElementById(elementId);

        if(element.style.display == '')
          element.style.display = 'none';
        else 
          element.style.display = '';
      }
    </script>

    <div id="sidebar-menu" class="user-info box">
      <div id="sidebar-menu-title">
        <a href="#" onclick="toggleBlock('sidebar-menu-list'); return false;" style="text-decoration: none; font-weight: bold; color: black;">
          <span class="nickname"></span>
        </a>
      <div id="new-message-counter">(3)</div>
    </div>

    <div id="sidebar-menu-list" style="display: ;">
    <hr><ul style="list-style-type: none; padding: 0px; margin: 0px;">
      <li><a href="#/u">Profil</a></li>
      <li><a href="#/admin">Administration</a></li>
      <li><a href="#/logout">Déconnexion</a></li>
    </ul>
    </div>

    </div>


    <div id="sidebar-chat" class="user-info box">
       Chat <br>
    </div>
  </div>

  <div id="main"></div>
  <div class="clear"></div>
</div>



<script src="/dnode.js"></script>
<script src="javascripts/libs/taffy-min.js"></script>
<script src="javascripts/libs/jquery-1.7.min.js"></script>
<script src="javascripts/libs/jquery.scrollTo-min.js"></script>
<script src="javascripts/libs/showdown.js"></script>
<script src="javascripts/libs/keymaster.min.js"></script>
<script src="javascripts/libs/sammy/sammy.js"></script>
<script src="javascripts/libs/sammy/plugins/sammy.template.js"></script>
<script src="javascripts/libs/sammy/plugins/sammy.json.js"></script>
<script src="javascripts/libs/sammy/plugins/sammy.storage.js"></script>
<script src="javascripts/session.js"></script>
<script src="javascripts/agora.js"></script>
<script src="javascripts/storage.js"></script>
<script src="javascripts/utils.js"></script>
<script src="javascripts/view.js"></script>
<script src="javascripts/views/login.js"></script>
<script src="javascripts/views/profile.js"></script>
<script src="javascripts/views/forum.js"></script>
<script src="javascripts/views/category.js"></script>
<script src="javascripts/views/thread.js"></script>
<script src="javascripts/views/admin.js"></script>
</body>
</html>
