<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>Agora</title>
  <link rel="stylesheet" href="stylesheets/agora.css"/>
  <link rel="stylesheet" href="stylesheets/buttons.css"/>
</head>
<body>
  <div id="container">
    <div id="sidebar">
      <h1><a href="#/"><img alt="Agora" src="stylesheets/logo-nmag.png"></a></h1>
      <div class="user-info">
        <a href="#/profile"><span class="nickname">anonymous</span></a>
        <img class="avatar" src="about:blank">
      <a href="#/logout">Log out</a>
      </div>
    </div>
    <div id="main">
    </div>
  </div>
<script src="javascripts/jquery-1.4.2.js" type="text/javascript" charset="utf-8"></script>
<script src="javascripts/showdown.js" type="text/javascript" charset="utf-8"></script>
<script src="javascripts/keymaster.min.js" type="text/javascript" charset="utf-8"></script>
<script src="javascripts/sammy/sammy.js" type="text/javascript" charset="utf-8"></script>
<script src="javascripts/sammy/plugins/sammy.template.js" type="text/javascript" charset="utf-8"></script>
<script src="javascripts/sammy/plugins/sammy.mustache.js" type="text/javascript" charset="utf-8"></script>
<script src="javascripts/sammy/plugins/sammy.json.js" type="text/javascript" charset="utf-8"></script>
<script src="javascripts/sammy/plugins/sammy.storage.js" type="text/javascript" charset="utf-8"></script>
<script src="javascripts/agora.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
