<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Agora</title>
    <link rel="icon" type="image/png" href="/stylesheets/favicon.png" />
    <link rel="stylesheet" href="stylesheets/agora.css"/>
    <link rel="stylesheet" href="stylesheets/buttons.css"/>
  </head>
  <body>
    <div id="container">
      <div id="sidebar">
        <h1>
          <a href="#/"><img alt="Agora" src="stylesheets/logo-nmag.png" /></a>
        </h1>
        <div class="user-info">
          <a href="#/u">
            <span class="nickname">anonymous</span>
            <img class="avatar" src="about:blank">
          </a>
          <a href="#/logout">Log out</a>
        </div>
      </div>
      <div id="main"></div>
    </div>
    <script src="/dnode.js"></script>
    <script src="javascripts/libs/jquery-1.7.min.js"></script>
    <script src="javascripts/libs/showdown.js"></script>
    <script src="javascripts/libs/keymaster.min.js"></script>
    <script src="javascripts/libs/sammy/sammy.js"></script>
    <script src="javascripts/libs/sammy/plugins/sammy.template.js"></script>
    <script src="javascripts/libs/sammy/plugins/sammy.json.js"></script>
    <script src="javascripts/libs/sammy/plugins/sammy.storage.js"></script>
    <script src="javascripts/agora.js"></script>
  </body>
</html>
