body {
  font-family: "Lucida Grande", Lucida, Helvetica, Arial, sans-serif;
  background: #FFF;
  color: #333;
  margin: 0;
  padding: 0;
}

#container {
  width: 900px;
}

#sidebar {
  float: left;
  width: 300px;
  height: 700px;
  background: #C97E41;
  margin: 0;
  padding: 0;
}

#sidebar h1 {
  font-family: Inconsolata, Monaco, Courier, mono;
  color: #FFF;
  margin: 0;
}

.category-title {
  margin-bottom: 5px;
  margin-top: 30px;
}

#sidebar .user-info {
  padding: 10px;
  background: #714625;
  color: #FFF;
  font-size: 12px;
  font-weight: bold;
  padding: 15px;
}

#main {
  float: right;
  width: 550px;
  margin-left: 50px;
  height: 100%;
  margin-top: 30px;
}

.thread, .categories {
  width: 700px;
}

.post {
  display: block;
  list-style-type: none;
  width: 700px;
}

.new-post {
  height: 250px;
}

.post:nth-child(odd) {
  background-color: #F8F8F8;
}

.post:nth-child(even) {
  background-color: #F1F1F1;
}

.post h1 {
  font-size: 36px;
  margin 0 0 18px 0;
  color #333;
}

.post h2 {
  font-size: 30px;
  margin 0 0 10px 0;
  color #555;
}

.post h3 {
  font-size: 24px;
  margin: 0 0 6px 0;
  color: #777;
}

.post h4 {
  font-size: 18px;
  margin: 0 0 6px 0;
  color: #555;
  font-style: italic;
}

.post h5 {
  font-size: 16px;
  margin 0 0 6px 0;
  color #777;
  font-style: italic;
}

.slogan {
  font-size: 80%;
}

.nickname {
  display: block;
  margin-top: 2px;
}

.post-header {
  float: left;
  margin-top: 0;
  width: 150px;
  font-size: 12pt;
  display: inline-block;
}

.post-header p {
  margin: 0;
  padding: 0;
  margin-top: 2px;
}

.post-body {
  float: right;
  width: 550px;
  display: inline-block;
}

.post-content, .post-title, .post-preview {
  background-color: transparent;
  display: block;
  font-size: 14px;
  padding: 5px;
  border: none;
}

.post-header {
  text-align: center;
}

.post-content, .post-preview {
  width: 540px;
  height: 197px;
}

em {
  font-style: italic !important;
}

strong {
  font-weight: bold !important;
}

.post-title {
  width: 690px;
}

.new-post input:focus, .new-post textarea:focus {
  border: none;
}

button.submit-post {
  font-size: 100% !important;
  float: right;
}

.new-post input {
  border: none;
  border-bottom: 1px solid black;
}

.avatar {
  width: 128px;
  height: 128px;
}

div.clear {
  clear: both;
}

