body {
  font-family: "Lucida Grande", Lucida, Helvetica, Arial, sans-serif;
  background: #FFF;
  color: #333;
  margin: 0;
  padding: 0;
}

#container {
  width: 900px;
}

#sidebar {
  float: left;
  width: 300px;
  height: 700px;
  background: #C97E41;
  margin: 0;
  padding: 0;
}

#sidebar h1 {
  font-family: Inconsolata, Monaco, Courier, mono;
  color: #FFF;
  margin: 0;
}

#sidebar .user-info {
  padding: 10px;
  background: #714625;
  color: #FFF;
  font-size: 12px;
  font-weight: bold;
  padding: 15px;
}

#main {
  float: right;
  width: 600px;
  height: 100%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

li.post {
  list-style-type: none;
  margin-left: 50px;
  width: 700px;
  height: 500px;
}

.nickname {
  display: block;
}

.post-header {
  float: left;
  margin-top: 10px;
  width: 200px;
  height: 500px;
  font-size: 12pt;
  display: inline-block;
}

.post-body {
  float: right;
  width: 500px;
  height: 500px;
  display: inline-block;
}

.new-post input, .new-post textarea, .new-post button {
  display: block;
  width: 480px;
  font-size: 20px;
  padding: 10px;
}

.new-post input {
  width: 700px;
}

.new-post input:focus, .new-post textarea:focus {
  border: none;
}

button.submit-post {
  font-size: 110% !important;
  float: right;
}

.new-post input {
  border: none;
  border-bottom: 1px solid black;
}

.avatar {
  width: 200px;
  height: 200px;
  margin: 10px;
}

.new-post textarea {
  margin: 0;
  border: none;
  height: 10em;
}

.new-post a {
  float: right;
  font-size: 15pt;
  font-weight: 600;
  text-decoration: none;
}

.new-post a:hover {
  cursor: pointer;
}

div.clear {
  clear: both;
}

