<li class="post">
  <div class="post-header">
    <span class="nickname">Anonymous</span>
    <img class="avatar" src="http://soundfxcenter.com/images/sil/766dfd_bender.png">
    <span class="slogan">Mousse de canard</span>
  </div>
  <div class="post-body">
    <div class="post-content" placeholder="Message"></div>
    <div class="clear"></div>
  </div>
</li>
