<li class="post">
  <div class="clear"></div>
  <div class="post-header">
    <span class="nickname"><%= post.user.nickname %></span>
    <img class="avatar" src="<%= post.user.avatar %>">
    <span class="slogan"><%= post.user.slogan %></span>
  </div>
  <div class="post-body">
    <div class="post-content"><%= post.content %></div>
  </div>
</li>
