<h2 class="thread-title">
  <a href="#/">NMAG</a> &gt;
  <a href="#/r/<%= category.slug %>"><%= category.slug.charAt(0).toUpperCase() + category.slug.slice(1) %></a>
</h2>

<div class="category">
  <div class="clear"></div>
  <ul class="threads">
  </ul>
</div>
