<li class="thread">
  <div class="clear"></div>
  <div class="thread-header">
    <a href="#/r/<%= category.slug %>/<%= thread._id %>"><h2 class="thread-title"><%= thread.title %></h2></a>
  </div>
  <div class="clear"></div>
</li>
